@tailwind base;
@tailwind components;
@tailwind utilities;

.hello{
  color: black;
  text-align: center;
  bottom: 50px;
  font-size: 80px;
  font-style: normal;
  font-weight: 500;
  padding-top: 250px;
}
